[profile.default]
src = "src"
out = "out"
libs = ["lib"]
evm_version = "cancun"
via_ir = true
solc = '0.8.26'
fs_permissions = [
  { access = "read", path = "./lib" },
  { access = "read", path = "./script" },
  { access = "write", path = "./deployments" },
]
optimizer_runs = 0
bytecode_hash = "none"
optimizer = true
gas_limit = "8000000000"

[fuzz]
max_test_rejects = 10000000
runs = 32
depth = 512

# See more config options https://github.com/foundry-rs/foundry/blob/master/crates/config/README.md#all-options

[profile.coverage]
# use the --ir-minimum flag to get coverage to run. there's no foundry config for this yet.

[fmt]
bracket_spacing = true
int_types = 'long'
line_length = 120
multiline_func_header = 'params_first'
number_underscore = 'thousands'
quote_style = 'double'
tab_width = 4
wrap_comments = false

[invariant]
show_metrics = true
fail_on_revert = true


[profile.degen]

[profile.degen.invariant]
show_metrics = true
fail_on_revert = true
runs = 2048
