[profile.default]
src = "src"
out = "out"
libs = ["lib"]
evm_version = "cancun"
via_ir = true
solc = '0.8.26'
fs_permissions = [
  { access = "read", path = "./lib" },
  { access = "read", path = "./script" },
  { access = "write", path = "./deployments" },
  { access = "read-write", path = "./deployments.config.toml" },
]
optimizer_runs = 0
bytecode_hash = "none"
optimizer = true
# gas_limit = "8000000000"
create2_deployer = "0x4e59b44847b379578588920ca78fbf26c0b4956c"
dynamic_test_linking = true
gas_limit = "18446744073709551615"
memory_limit = 0xFFFFFFFF

[fuzz]
max_test_rejects = 10000000
runs = 32
depth = 512

[fmt]
single_line_statement_blocks = "preserve"
bracket_spacing = true
int_types = "long"
line_length = 120
multiline_func_header = "params_first_multi"
number_underscore = "thousands"
quote_style = "double"
tab_width = 4
wrap_comments = false
sort_imports = true
contract_new_lines = false
override_spacing = false

[lint]
lint_on_build = false

[invariant]
show_metrics = true
fail_on_revert = true

[etherscan]
base = { key = "${BASESCAN_API_KEY}" }

[rpc_endpoints]
mainnet = "${MAINNET_RPC_URL}"
unichain = "${UNICHAIN_MAINNET_RPC_URL}"
base = "${BASE_MAINNET_RPC_URL}"
ink = "${INK_MAINNET_RPC_URL}"
unichain_sepolia = "${UNICHAIN_SEPOLIA_RPC_URL}"
base_sepolia = "${BASE_SEPOLIA_RPC_URL}"
ink_sepolia = "${INK_SEPOLIA_RPC_URL}"
world_sepolia = "${WORLD_SEPOLIA_RPC_URL}"
arbitrum_sepolia = "${ARBITRUM_SEPOLIA_RPC_URL}"

[profile.deep]

[profile.deep.invariant]
show_metrics = true
fail_on_revert = true
runs = 2048
depth = 512
