[profile.default]
# auto_detect_solc = true
src = "src"
out = "out"
libs = ["lib"]
evm_version = "cancun"
via_ir = true
# solc = '0.8.26'
fs_permissions = [{ access = "read", path = "./lib" }]
optimizer_runs = 0
bytecode_hash = "none"

[fuzz]
max_test_rejects = 10000000

# See more config options https://github.com/foundry-rs/foundry/blob/master/crates/config/README.md#all-options

[profile.coverage]
# use the --ir-minimum flag to get coverage to run. there's no foundry config for this yet.

[fmt]
bracket_spacing = true
int_types = 'long'
line_length = 120
multiline_func_header = 'params_first'
number_underscore = 'thousands'
quote_style = 'double'
tab_width = 4
wrap_comments = false
